services:
  db:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nasa
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: ./        
      dockerfile: MeteorSolution/MeteorWebApi/Dockerfile
    container_name: webapi
    ports:
      - "5000:8078"
    depends_on:
      - worker
      - db

  worker:
    build:
      context: ./
      dockerfile: MeteorSolution/MeteorWorkerService/Dockerfile
    container_name: workerservice
    depends_on:
      - db

  frontend:
    build:
      context: ./MeteorSolution/MeteorFront
    container_name: frontend
    ports:
      - "5001:80"
    depends_on:
      - api

volumes:
  pgdata: